#direction-bar {
    margin: auto;  
    max-width: 90%;
    text-align: center; 
    background-color: #fff; 
    padding: 2px;
}

#direction {
    font-size: 2.5em;
    margin-top: 8px;
    margin-bottom: 8px;
}

#orientation-permissions {
    padding: 8px;
    width: 312px;
    margin: 12px;
}

